.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: red;
  color: white;
  text-align: center;
  height: 50px;
  font-size: 36px;
  vertical-align: middle;
}

.footer {
  background-color: red;
  color: white;
  text-align: center;
  height: 50px;
  font-size: 36px;
  vertical-align: middle;
}

.userImg {
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.userItem {
  border: 1px solid gray;
  width: 80%;
  margin: 0 auto;
}

.userList {
  margin-top: 5px;
  margin-bottom: 5px;
}

.userData {
  display: inline-block;
}

.crd {
  width: 250px;
  float: left;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

imgCard {
  width: 200px;
}

.headerButton {
  display: inline-block;
}

.red {
  background-color: rgb(255, 220, 220);
}

.searchBar {
  width: 1145px !important;
  position: relative;
  left: 293px;
}